.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid var(--third-pink);
    background-color: white;
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 var(--secondary-pink);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: var(--main-pink);
    color: rgb(255, 255, 255);
  }
  
  .choice-text {
    color: black;
    padding: 1.5rem;
    width: 100%;
  }
  
  .correct {
    background-color: var(--main-pink);
  }
  
  .incorrect {
    background-color: var(--third-pink);
  }
  
  /* trackicng at the top */
  
  #hud {
    display: flex;
    justify-content: space-between;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
  }
  
  .hud-main-text {
    text-align: center;
  }
  
  #progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid var(--main-pink);
    margin-top: 1.5rem;
  }
  
  #progressBarFull {
    height: 3.4rem;
    background-color: var(--secondary-pink);
    width: 0%;
  }